alembic==1.7.1
faker==8.12.1
fastapi[all]==0.68.1
gunicorn==20.1.0
mcmahon==0.1.0
passlib[bcrypt]==1.7.4
psycopg2-binary==2.9.1
pytest==6.2.5
python-jose[cryptography]==3.3.0
SQLAlchemy==1.4.23
sqlmodel==0.0.4
